body {
  margin: 0;
  font-family: 'Avenir Next', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  cursor: pointer;
  opacity: .5;
  padding: 5px
}

.button:hover {
  opacity: 1;
}

